.press{
	height: 30px;
	width: 30px;
	display: inline-block;
	background: rgb(200,20,20);
	text-align: center;
	border-radius: 5px;
	margin: 2px;
	border: solid 1px black;
	line-height: 30px;
}